body {
  height: 185vh;
}
.main-circle {
  width: 200px;
  height: 200px;
  border: 10px solid gray;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-circle {
  width: 180px;
  height: 180px;
  border: 10px solid red;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroling-circle-01 {
  margin-top: 279px;
  width: 180px;
  height: 180px;
  background-color: purple;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroling-circle-02 {
  margin-top: 200px;
  width: 180px;
  height: 180px;
  background-color: steelblue;
  border-radius: 50%;
  position: relative;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroling-circle-03 {
  margin-top: 200px;
  margin-bottom: 20px;
  width: 180px;
  height: 180px;
  background-color: orangered;
  border-radius: 50%;
  position: relative;
  top: 225%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
}
